{% extends 'base.html.twig' %}

{% block title %}Photothèque de Chatons version fichier{% endblock %}

{% block body %}

    <h1>Bienvenue sur la Photothèque de Chatons</h1>
    <p>Version fichier</p>

    <ul>
    
        {% for dossier in dossiers %}
            <li>
                <a href="{{ path('app_dossier', {'nomDuDossier': dossier.filename}) }}">
                    {{ dossier.filename }}
                </a>
            </li>
        {% endfor %}

    </ul>
    <hr>
    <h2>Ajouter un dossier</h2>
    {{ form(formulaire) }} {# On crée le formulaire avec la view #}

{% endblock %}
