{% extends 'base.html.twig' %}

{% block title %}Photothèque de Chatons version fichier{% endblock %}

{% block body %}

    <h1>Bienvenue sur la Photothèque de Chatons</h1>
    <p>Version fichier</p>

{% endblock %}
