{% extends 'base.html.twig' %}

{% block title %}Les photos des chatons
	{{ nomDuDossier }}
{% endblock %}

{% block body %}

	<h1>Photos du dossier
		{{ nomDuDossier }}</h1>

	<div style="display:flex; justify-content:space-around; align-items:center; width: 80vw; margin: 1vh auto;">

		{% for fichier in fichiers %}

			{% include 'dossier/_card.html.twig' with {'fichier': fichier} %}

		{% endfor %}

	</div>

{% endblock %}
